{#
/**
 * @file
 * Default theme implementation to present a list of image tag types.
 *
 * Available variables:
 * - types: A collection of all the available image tag types.
 *   Each image tag type contains the following:
 *   - add_link: A link to add a image tag of this type.
 *   - description: A description of this image tag type.
 *
 * @see template_preprocess_image tag_content_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <dl class="image-tag-type-list">
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set type_admin_link = path('image_tag.type_admin') %}
    {% trans %}
      You have not created any image tag types yet. Go to the <a href="{{ type_admin_link }}">image tag type admin page</a> to add a new type.
    {% endtrans %}
  </p>
{% endif %}
